In [8]:
import pandas as pd

# Read the two datasets
df_stringency = pd.read_csv('data/map/stringency_average_1.csv')
df_containment = pd.read_csv('data/map/containement_average_1.csv')

# Merge the datasets on the 'location' column
merged_df = pd.merge(df_stringency, df_containment, on='location')
merged_df

       location  average_stringency_index  average_containment_index
0       Austria                 56.014762                  50.567962
1       Belgium                 58.975096                  52.372675
2      Bulgaria                 56.393333                  41.188726
3       Croatia                 63.845714                  56.590255
4        Cyprus                 72.979851                  52.683312
5       Czechia                 51.059085                  48.416115
6       Denmark                 55.485796                  48.399236
7       Estonia                 45.028726                  37.884841
8       Finland                 48.715287                  42.340637
9        France                 65.429809                  57.202548
10      Germany                 57.250127                  54.015924
11       Greece                 62.378699                  50.249554
12      Hungary                 59.820500                  48.997006
13      Ireland                 67.260979                  51.441274
14        Italy                 73.301274                  69.218599
15       Latvia                 51.638322                  45.665669
16    Lithuania                 61.388871                  45.872357
17   Luxembourg                 50.137838                  45.974268
18        Malta                 64.526304                  57.033758
19  Netherlands                 61.071862                  49.642930
20       Poland                 64.201295                  48.277580
21     Portugal                 65.382817                  53.248344
22      Romania                 62.126370                  46.368790
23     Slovakia                 60.118905                  52.672611
24     Slovenia                 50.107006                  49.721210
25        Spain                 60.657389                  50.638599
26       Sweden                 51.974076                  46.514650

In [10]:
# Calculate the ratio between stringency index and containment index
merged_df['ratio'] = merged_df['average_stringency_index'] / merged_df['average_containment_index']

# Save the merged dataset with the ratio as a new CSV file
merged_df.to_csv('data/map/merged_data.csv', index=False)